<!DOCTYPE html>
<html>
<body>
<script>
  if (window.opener) {
    window.opener.postMessage('auth0-success', '<%= callbackUrl.replace("/callback", "") %>');
    window.close();
  } else {
    window.location.href = '/';
  }
</script>
</body>
</html>
