<html>
	<head>
		<script
			type="text/javascript"
			src="https://<%= salesforceDomain %>/canvas/sdk/js/66.0/canvas-all.js"
		></script>
	</head>
	<body>
		<script>
			try {
				console.log(self.location.hash);
				window.opener.Sfdc.canvas.oauth.childWindowUnloadNotification(self.location.hash);
			} catch (ignore) {}
			self.close();
		</script>
	</body>
</html>
