<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Demo Not Workinig</title>
</head>

<body>
    <div>
        <div>
            <h4> Canvas Demo Not Workinig</h4>
            <p>
                <ul>
                    <li>Seems, You are not accessing this page from Salesforce. OR  </li>
                    <li>App did not received valid Signed Request. OR </li>
                    <li>Logged in User is not configured to use canvas app  </li>
                </ul>
            </p>
        </div> 
</div>  
</body> 
</html>