<html>
	<head>
		<% if (isMobile) { %>
		<script src="https://cdn.auth0.com/js/lock/12/auth0-lock.min.js"></script>
		<% } else { %>
		<script
			type="text/javascript"
			src="https://mgalvao-250321-998-demo.my.salesforce.com/canvas/sdk/js/66.0/canvas-all.js"
		></script>
		<% } %>
	</head>
	<body>
		<h1 id="header">Canvas OAuth App</h1>

		<% if (isMobile) { %>
		<div id="lock-container"></div>
		<script>
			var lock = new Auth0Lock('<%= clientId %>', '<%= domain %>', {
				container: 'lock-container',
				auth: {
					redirectUrl: '<%= callbackUrl %>',
					responseType: 'code',
					params: { scope: 'openid profile' }
				},
				allowSignUp: false
			});
			lock.show();
		</script>
		<% } else { %>
		<div>access_token = <span id="oauth"></span></div>
		<div><a id="loginAuth0" href="#" onclick="window.open('/login','auth0login','width=600,height=700'); return false;">Login Auth0</a><br /></div>
		<script>
			window.addEventListener('message', function(e) {
				if (e.data === 'auth0-success') {
					window.location.href = '/';
				}
			});
		</script>
		<% } %>
	</body>
</html>
